@model List<FamilleProduit>

@{
    ViewData["Title"] = "Menu";
}

<script>
    function showalert(){
        alert("Article n'est pas disponible");
    }
    </script>
<!-- Custom styles for this template -->
<link href="~/menu/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/stylecart.css" />
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <section class="food_section layout_padding">
                    <div class="container">
                        <div class="heading_container heading_center">
                            <h2>
                                Menu
                            </h2>
                        </div>
                        <ul class="filters_menu">
                            <li class="active" data-filter="*">All</li>
                            @foreach (var listf in ViewBag.familles)
                            {
                                <li data-filter=".@listf.Libelle.ToLower()">@listf.Libelle</li>
                            }
                        </ul>
                        <div class="filters-content">
                            @{
                                bool dispo = true;
                            }
                            <div class="row grid">
                                @foreach (FamilleProduit fa in Model)
                                { 
                                    @foreach (Article a in fa.articles)
                                    {
                                        if (a.QteStock==0)
                                        {
                                            dispo = false;
                                            break;
                                        }

                                    }
                                    <div class="col-sm-6 col-lg-3 all @fa.LibelleFamille.ToLower()">
                                        <div class="box">
                                            <div>
                                                <div class="img-box">
                                                    <img src="/ImgProduit/@fa.Image" alt="@fa.LibelleFamille.ToLower()" id="imgpr_@fa.IdProduit">
                                                </div>
                                                <div class="@(dispo==false?"bg-warning":"") detail-box">
                                                    <h5 id="libelleproduit_@fa.IdProduit">
                                                        @fa.LibelleProduit
                                                    </h5>
                                                    <div class="options">
                                                        <h6 id="prixproduit_@fa.IdProduit">
                                                            @fa.Prix DH
                                                        </h6>
                                                        @if(dispo==false)
                                                        {
                                                            <a onclick="showalert();">
                                                                <i class="fa fa-check-circle" aria-hidden="false"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a onclick="CreateProduit(@fa.IdProduit)">
                                                                <i class="fa fa-check-circle" aria-hidden="false"></i>
                                                            </a>
                                                        }
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<form method="post" action="/Commande/AjouterCommande">
<aside id="moncard" class="cart-menu"style="visibility:hidden">
    <!--bloquer la page de ne pas reloader -->
    <a id="cart-button" class="button" href="javascript:void(0)" style="opacity: 1;">
        <span>Commandes</span>
        <b id="cpt">(0)</b>
    </a>
    <div class="cart-dialog">
        <div class="widget woocommerce widget_shopping_cart">
            <h2 class="widgettitle">Cart</h2>
            <div class="widget_shopping_cart_content" style="opacity: 1;">
                
                <ul id="contentul"class="woocommerce-mini-cart cart_list product_list_widget ">
                   
                </ul>

                <p class="woocommerce-mini-cart__total total">
                    <strong>Total Commande:</strong>
                    <span class="woocommerce-Price-amount amount">

                    <span id="total">0</span> 
                    <span class="woocommerce-Price-currencySymbol">DH
                </span>
                    </span>
                </p>
                <p class="woocommerce-mini-cart__buttons buttons">
                        <button type="submit" class="button checkout wc-forward btn btn-info btn-fw"> Valider</button>
                </p>
                    
            </div>
        </div>
    </div>

</aside>
</form>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-warning"><i class="fa fa-exclamation-triangle"></i> Attention</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Article n'est pas disponible
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<script>
    //optimiser sidebar
    document.body.classList.add("sidebar-icon-only");
</script>
